<?xml version="1.0"?>
<!--
  Weitere Informationen zur Konfiguration der ASP.NET-Anwendung finden Sie unter
  "http://go.microsoft.com/fwlink/?LinkId=169433".
  -->
<configuration>
  <connectionStrings>
    <add name="reportingConnectionString" connectionString="Data Source=87.106.7.122\SQLEXPRESS;Initial Catalog=skoda;User Id=GateMaster;Password=p3Ts4r7V" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <location path="css/styles.css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="bilder">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
    <location path="konfigurator.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="der_neue_fabia.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="probefahrt.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
  <location path="img">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true"/>
    
  </system.web>
  <system.web>
    <pages>
      <namespaces>
        <add namespace="System.Data.SqlClient"/>
      </namespaces>
    </pages>
  </system.web>
</configuration>